/**{
	margin:0;
	padding:0;
}
body                {font:1em/1.4 Verdana, Arial, Helvetica, sans-serif;}
body *              {display:inline;}*/
button{
	width: 30px;
	height: 30px;
/*	float: left;
	margin: .1em;
	border: 1px solid #444;
	padding: .2em;
	overflow: auto;*/
}
